<div class="row">
  <div class="col-sm-3 col-md-3">
    <h4>Channels</h4>
    <ul class="list-group">
        <% @rooms.each do |room| %>
            <li class="list-group-item">
              <%= link_to "# #{room.name}", lobby_index_path(room_id: room.id) %>
            </li>
        <% end %>
    </ul>

    <h4>Active Users</h4>
    <ul class="list-group active-users">

    </ul>
  </div>

  <div class="col-sm-9 col-md-9">
    <div id="messages-container">
      <% @messages.each do |message| %>
          <div class="message-block">
              <p><b><%= image_tag "/images/#{message.dialect}.png", class: 'msg-icon' %> <%= message.sender %></b> - <small><%= message.time %></small></p>
              <p><%= message.text %></p>
          </div>
      <% end %>
      </div>

    <hr>

    <%= form_for :message, html: { id: 'form-message' } do |f| %>
      <div class="form-group">
        <% if params[:room_id].nil? %>
          <%= f.text_area :text, class: 'message-box form-control', disabled: true, placeholder: 'Please select a channel' %>
        <% else %>
          <%= f.text_area :text, class: 'message-box form-control', placeholder: 'Your message here' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :js do %>
<script type="text/javascript">
    <% if params[:room_id] %>
        var USER_ID = <%= current_user.id %>;
        App.lobby.subscribe(<%= params[:room_id] %>, USER_ID);
    <% end %>
</script>
<% end %>
