<div class="row">
	<div class="col-sm-3 col-md-3">
		<ul class="list-group">
			<% @rooms.each do |room| %>
				<li class="list-group-item">
			  	<%= link_to "# #{room.name}", lobby_index_path(room_id: room.id) %>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="col-sm-9 col-md-9">
		<div id="messages-container" style="border: 1px solid lightgrey; padding: 10px; height: 400px; overflow-y: auto">
			<% @messages.each do |message| %>
				<div class="message-block">
					<p><b><%= message.sender %></b> - <small><%= message.time %></small></p>
					<p><%= message.text %></p>
				</div>
			<% end %>
		</div>

		<hr>

		<%= form_for :message, html: { id: 'form-message' } do |f| %>
			<div class="form-group">
				<%= f.text_area :text, class: 'message-box form-control' %>
			</div>
		<% end %>
	</div>
</div>

<%= content_for :js do %>
<script type="text/javascript">
	var USER_ID = 1;
	App.lobby.subscribe(<%= params[:room_id] %>, USER_ID);
</script>
<% end %>
